<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/admin/workshops}" th:object="${workshop}" method="post">

    <input th:field="*{title}" placeholder="Title"/>
    <input th:field="*{description}" placeholder="Description"/>
    <input th:field="*{location}" placeholder="Location"/>

    <input type="datetime-local" th:field="*{start_datetime}"/>

    <input type="number" th:field="*{total_seats}"/>

    <button>Create</button>
</form>
</body>
</html>