<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Register</title>
</head>
<body>

<h2>Register</h2>
<form th:action="@{/register}" th:object="${user}" method="post">

    <input type="text" th:field="*{name}" placeholder="Name"/>
    <div th:errors="*{name}"></div>

    <input type="email" th:field="*{email}" placeholder="Email"/>
    <div th:errors="*{email}"></div>

    <input type="password" th:field="*{password}" placeholder="Password"/>
    <div th:errors="*{password}"></div>

    <button type="submit">Create Account</button>
</form>

</body>
</html>