<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${workshop.title}"></h2>
<p th:text="${workshop.description}"></p>
<p>Seats: <span th:text="${workshop.seats_remaining}"></span></p>

<form th:action="@{/workshops/{id}/register(id=${workshop.id})}" method="post">
    <button type="submit">Register</button>
    <div th:if="${success}" style="color:green;">
        <p th:text="${success}"></p>
    </div>
</form>
</body>
</html>